/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC         &kp EXCLAMATION  &kp AMPERSAND  &kp HASH  &kp PERCENT  &kp SLASH                                                 &kp BACKSLASH  &kp UNDERSCORE  &kp MINUS  &kp PLUS  &kp EQUAL          &kp ASTERISK
&kp TAB         &kp Q            &kp W          &kp F     &kp P        &kp B                                                     &kp J          &kp L           &kp U      &kp Y     &kp SEMICOLON      &kp ENTER
&kp LEFT_SHIFT  &kp A            &kp R          &kp S     &kp T        &kp G                                                     &kp M          &kp N           &kp E      &kp I     &kp O              &kp RIGHT_SHIFT
&kp LCTRL       &kp Z            &kp X          &kp C     &kp D        &kp V      &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp K          &kp H           &kp COMMA  &kp DOT   &kp DOUBLE_QUOTES  &kp RCTRL
                                                &kp LALT  &kp LGUI     &none      &kp BACKSPACE           &kp SPACE              &none          &kp RGUI        &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
